img{
    background-size: cover;
    background-position: center center;
    border-radius: 5%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/src/images/backPlace.jpg');
  }


  .icon{
    width: 10%;
    margin-right: 5%;
    

  }

  .pos_Place{
    display: inline-flex;
  }

  .text{
    display: block;
    margin-left: 51%;
    margin-top: 25%;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;

  }


  .weather__name{
    font-family: 'Roboto', sans-serif;
    font-size: 2.56rem;
    font-weight: 600;
    margin-left: 8%;
    line-height: 110%;
    margin-right: 4%;
    color: aliceblue;
    margin-top: 5%;
}
  

  .weather__Place{

    display: flex;
  }

  .dataPlace{
    border: inset;
    border-radius: 5%;
    width: 50%;
    padding: 2%;
    color: white;
    display: table;
  }

  
  .dataPlace p{
    width: 75%;
    margin-top: 1%;
  }

  .temperatura {
    font-size: 4rem!important;
    display: contents;
    color: antiquewhite;
  }

  @media (max-width: 600px) {

      .icon {
        width: 15%;
        margin-right: 5%;
        }
        .text{
        display: block;
        margin-left: 15%;
        margin-top: 140%;
        font-size: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        text-align: center;
        }

        img{
            
            background-size: cover;
            border-radius: 5%;
            background-position: center center;
            margin-left: 10%;
            margin-top: 5%;
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url(/src/images/backPlace.jpg);
        }

        .weather__name {
            font-size: 1.56rem;
            font-weight: 600;
            margin-right: 5%;
            margin-bottom: 0;
            margin-right: 5%;
            line-height: 110%;
            margin-top: 4px;
        }

    }
